nav {
    ul {
        display: none;
        @media (min-width: $break-sm) {
            display: flex;
            justify-content: space-around;
            background-color: $link;
            text-align: center;
        }
    }
    li {
        background: $light-gray;
        border-bottom: 1px solid white;
        padding: 1rem;
        @media (min-width: $break-sm) {
            flex-grow: 1;
            &:hover {
                background: $text;
            }
        }
    }
    a {
        @media (min-width: $break-sm) {
            color: #fff;
            display: block;
            padding: 0.5rem;
        }
        &:hover {
            color: #fff;
        }
    }
    #pull {
        display: block;
        background-color: $link;
        height: 32px;
        padding-top: 12px;
        padding-left: 12px;
        @media (min-width: $break-sm) {
            display: none;
        }
    }
    #pull:after {
        content: '';
        background: url('../img/nav-icon.png') no-repeat;
        width: 22px;
        height: 22px;
        display: inline-block;
        background-size: cover;
    }
}

.show-nav nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}